body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 0 10px 0 0;
    margin: 0;
}

#field {
    margin: 0 auto;
    box-shadow: 15px 15px 7px rgb(134, 134, 134);
    display: inline-block;
    padding: 4px;
    background-color: rgb(120, 168, 164);
    outline: 2px solid rgb(3, 48, 43);
    margin-bottom: 30px;
}

.title-wrapper {
    margin: 10px;
    padding: 4px;
}

h1 {
    font-size: 28px;
    color: white;
    background-color: rgb(120, 168, 164);
    display: inline-block;
    border: 1px solid black;
    margin: 0;
    padding: 5px 30px;
    box-shadow: 3px 3px 5px rgb(134, 134, 134);
}

.field-row {
    /* Without it there is some strange top padding.
    And "padding-top: 0" doesn't solve that problem. */
    display: flex;
}

.cell {
    min-width: 17px;
    min-height: 17px;
    box-sizing: border-box;
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
    display: inline-block;
    outline: 1px solid rgb(3, 48, 43);
    margin: 2px;
    padding: 2px;
    color: rgba(255, 255, 255, 0);
    text-align: center;
    cursor: pointer;
    opacity: 0;
    transform: translate(-50%, -140%) rotate(-45deg);
    transition-duration: .8s;
    transition-property: opacity, transform, background-color, color;
    transform-origin: center;
}

.cell-appeared {
    opacity: 1;
    transform: translate(0, 0);
}

.cell-covered {
    background-color: rgb(16, 207, 175);
}

.cell-covered:hover {
    background-color: rgb(80, 255, 217);
    outline-color: white;
}

.cell-revealed {
    color: white;
    background-color: rgb(14, 105, 93);
}

.cell-mined {
    background-color: rgb(226, 53, 0);
}
